
<h1>All Gifts Ever Created!!!</h1>
<ul>
<% @gift_items.each do |gift_item| %>
<li>
  <%= gift_item.item%>
</li>
<% end %>
</ul>

<%= link_to "Create A New Gift Item", new_gift_item_path %>
<br>
<%= link_to "Find users", users_path %>
